/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.4; }
body, button, input, select, textarea { font-family: sans-serif; color: #424242; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #5EC4B6; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ===================================================
    Initializr styles
    http://verekia.com/initializr/responsive-template
    Author: Jonathan Verrecchia
   =================================================== */

body{ font:16px 1.4 Helvetica, Helvetica Neue, Arial, sans-serif; }


#main-container, #footer-container{
	margin:0 3%;
    width:94%;
}


/* ===================
        Email
 =================== */

#emailconf{
    border-radius: 10px;
}

/* ===================
        Map
 =================== */

div #googleMap {
    width:500px;
    height:380px;
}

{
    "featureType": "landscape",
    "stylers": [
    {
        "saturation": -100
    },
    {
        "lightness": 65
    },
    {
        "visibility": "on"
    }
    ]
},
{
    "featureType": "poi",
    "stylers": [
    {
        "saturation": -100
    },
    {
        "lightness": 51
    },
    {
        "visibility": "simplified"
    }
    ]
},
{
    "featureType": "road.highway",
    "stylers": [
    {
        "saturation": -100
    },
    {
        "visibility": "simplified"
    }
    ]
},
{
    "featureType": "road.arterial",
    "stylers": [
    {
        "saturation": -100
    },
    {
        "lightness": 30
    },
    {
        "visibility": "on"
    }
    ]
},
{
    "featureType": "road.local",
    "stylers": [
    {
        "saturation": -100
    },
    {
        "lightness": 40
    },
    {
        "visibility": "on"
    }
    ]
},
{
    "featureType": "transit",
    "stylers": [
    {
        "saturation": -100
    },
    {
        "visibility": "simplified"
    }
    ]
},
{
    "featureType": "administrative.province",
    "stylers": [
    {
        "visibility": "off"
    }
    ]
},
{
    "featureType": "water",
    "elementType": "labels",
    "stylers": [
    {
        "visibility": "on"
    },
    {
        "lightness": -25
    },
    {
        "saturation": -100
    }
    ]
},
{
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
    {
        "hue": "#ffff00"
    },
    {
        "lightness": -25
    },
    {
        "saturation": -97
    }
    ]
}
]

/* ===================
    ALL: Theme
   =================== */

#header-container{ border-bottom: 20px solid white; }

#header-container,
#footer-container,
#main aside{
	background:white;
}

#title{ color:white; }

::-moz-selection { color: #fff; text-shadow: none; }
::selection      { color: #fff; text-shadow: none; }


/* ==============
    MOBILE: Main
   ============== */


#main aside{
	color:white;
	padding:0px 5% 10px;
}


/* ==========================================================================
        Fonts
 ========================================================================== */

@font-face {
    font-family: "GreycliffCF-Light";
    src: url("fonts/GreycliffCF-Light.woff") format('woff');
    src: url("fonts/GreycliffCF-Light.woff2") format('woff2'),
}

@font-face {
    font-family: "GreycliffCF-Regular";
    src: url("fonts/GreycliffCF-Regular.woff") format('woff');
    src: url("fonts/GreycliffCF-Regular.woff2") format('woff2'),
}


@font-face {
    font-family: "GreycliffCF-Medium";
    src: url("fonts/GreycliffCF-Medium.woff") format('woff');
    src: url("fonts/GreycliffCF-Medium.woff2") format('woff2'),
}

@font-face {
    font-family: "GreycliffCF-DemiBold";
    src: url("fonts/GreycliffCF-DemiBold.woff") format('woff');
    src: url("fonts/GreycliffCF-DemiBold.woff2") format('woff2'),
}

@font-face {
    font-family: "GreycliffCF-LightOblique";
    src: url("fonts/GreycliffCF-LightOblique.woff") format('woff');
    src: url("fonts/GreycliffCF-LightOblique.woff2") format('woff2'),
}


div {
    font-family: GreycliffCF-Regular;
}

.DemiBold {
    font-family: GreycliffCF-DemiBold;
}

.Medium {
    font-family: GreycliffCF-Medium;
}

.bodytext {
    font-family: GreycliffCF-Light;
    font-size: 18px;
    color: #555;
}

.bodytext_italic {
    font-family: GreycliffCF-LightOblique;
    font-size: 18px;
}

.LightOblique {
    font-family: GreycliffCF-LightOblique;
    font-size: 18px;
}

/* ==========================================================================
 Section: font allocated
 ========================================================================== */

h1{
    font-family:GreycliffCF-Light;
    font-size: 40px;
    color: #5EC4B6;
    margin: 0 0 0.2em 0;
}

@media only screen and (min-width: 700px) {

    h1{
        font-size: 70px;
    }
    
    h4{
        text-align: center;
    }

}

h2{
    font-family:GreycliffCF-Light;
    font-size: 22px;
    text-align: center;
}

h3{
    font-family:GreycliffCF-Regular;
    font-size: 25px;
    text-align: center;
    margin:0;
}

h4{
    font-family:GreycliffCF-Light;
    font-size: 20px;
    margin:0;
    text-align: left;
}

a{
    color:#333;
}


/* ==========================================================================
 Section: Hero
 ========================================================================== */

.hero__inner-wrapper--left{
    display: inline-block;
    background:white;
    padding: 3em;
    margin: 0 auto;
    
}

.hero__inner-wrapper--right{
    display: inline-block;
    width: 100%;
    height:300px;
    margin: 0 auto;
}

.hero {
    background: url(../img/hero.jpg) center no-repeat;
    background-size: 500px 300px;
}

@media only screen and (min-width: 700px) {
    .hero {
        background: url(../img/hero.jpg) right no-repeat;
        background-size: 1000px 600px;
    }
    
    .hero__inner-wrapper--left{
        position: absolute;
        left: 0;
        top: 4em;
    }
    
    .hero__inner-wrapper--right{
        height: 600px;
        margin: 0;
    }
}

/* ==========================================================================
 Section: Next event
 ========================================================================== */

#nextevent div{
    font-size:26px;
    font-family:GreycliffCF-Medium;
    width:66%;
    text-align:center;
    margin:3em auto;
}

#nextevent span {
    color:#5EC4B6;
}

/* ==========================================================================
 Section: Location, information block
 ========================================================================== */

.wrapper__location, .wrapper__information_block {
    position: relative;
    overflow: hidden;
    max-width: 1500px;
}

.location-info, .information_block {
    margin-top: 0;
}

@media only screen and (min-width: 700px) {
    
    .location__inner-wrapper--left {
        height: 330px;
    }
}


/* ==========================================================================
 Section: Location
 ========================================================================== */

#location span {
    font-family:GreycliffCF-DemiBold;
}

#googleMap{
    margin: 0 auto;
}


@media only screen and (min-width: 700px) {
    
    .location__inner-wrapper--right {
        position: relative;
        width: 49.1%;
        float: right;
        margin-right:17.5%;
    }
    .location__inner-wrapper--left {
        position: relative;
        width: 33.3%;
        float: left;
    }
    .location-info{
        display:inline-block;
        position: relative;
        margin:0 30% 0 0;
        float:right;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    
}

/* ==========================================================================
 Section: information_block
 ========================================================================== */


@media only screen and (min-width: 700px) {
    
    .information_block__inner-wrapper--right {
        position: relative;
        width: 49.1%;
        float: right;
        margin-right:17.5%;
    }
    .information_block__inner-wrapper--left {
        position: relative;
        width: 33.3%;
        float: left;
    }
    
}


/* ==========================================================================
 Section: Section titles
 ========================================================================== */

div.bold_underline{
    display: inline-block;
    border-bottom: 3px solid #73BEC8;
    position: relative;
    margin:1em 0;
    padding-bottom: 0.5em;
}

div.bold_underline h2{
    margin:0 0 0.2em 0;
    
}

@media only screen and (min-width: 700px) {
    div.title__right{
        display:inline-block;
        float:right;
        margin-right:30%;
    }
}

/* ==========================================================================
 Section: Community
 ========================================================================== */

#community{
    margin: 7em 0;
}

/* ==========================================================================
 Section: Members
 ========================================================================== */

#members {
    margin-top: 7em;
    margin-bottom: 1em;
}

/* ==========================================================================
 Section: Meetup
 ========================================================================== */

#meetup {
    margin-bottom: 7em;
}


/* ==========================================================================
 Section: Photos
 ========================================================================== */
.section__photos {
}
.wrapper__photos {
    position: relative;
    overflow: hidden;
    color: #000;
    max-width: 1500px;
    margin: 0 auto;
}

.photos__inner-wrapper--left, .photos__inner-wrapper--right {
    margin: 0;
    padding: 0;
}

.photos__inner-wrapper--left div{
    display: inline-block;
/*    float:right;*/
    height: 300px;
    width: 100%;
    margin:0;
}

.photos__inner-wrapper--right div{
    display: inline-block;
/*    float:left;*/
    height: 300px;
    width: 100%;
    margin:0;
}

.group4_1 {
    background: url(../img/hands.jpg) center no-repeat;
    background-size: 500px 300px;
}

.group4_2 {
    background: url(../img/costumes.jpg) center no-repeat;
    background-size: 500px 300px;
}

.group4_3 {
    background: url(../img/camille_kasha.jpg) center no-repeat;
    background-size: 500px 300px;
}

.group4_4 {
    background: url(../img/group.jpg) center no-repeat;
    background-size: 500px 300px;
}

.group2_1 {
    background: url(../img/jacket.jpg) center no-repeat;
    background-size: 500px 300px;
}

.group2_2 {
    background: url(../img/kombucha.jpg) center no-repeat;
    background-size: 500px 300px;
}

.photos {
    margin-top: 200px;
    padding: 1px 15px;
}
@media only screen and (min-width: 700px) {
    
    .group4_1 {
        background: url(../img/hands.jpg) right no-repeat;
        background-size: 500px 300px;
    }
    
    .group4_2 {
        background: url(../img/costumes.jpg) left no-repeat;
        background-size: 500px 300px;
    }
    
    .group4_3 {
        background: url(../img/camille_kasha.jpg) right no-repeat;
        background-size: 500px 300px;
    }
    
    .group4_4 {
        background: url(../img/group.jpg) left no-repeat;
        background-size: 500px 300px;
    }
    
    .group2_1 {
        background: url(../img/jacket.jpg) right no-repeat;
        background-size: 500px 300px;
    }
    
    .group2_2 {
        background: url(../img/kombucha.jpg) left no-repeat;
        background-size: 500px 300px;
    }
    
    .photos__inner-wrapper--right {
        position: relative;
        width: 50%;
        float: right;
        height: 300px;
    }
    .photos__inner-wrapper--left {
        position: relative;
        width: 50%;
        float: left;
        height: 300px;
    }
    
}
@media only screen and (min-width: 1100px) {
    .making-workshop {
        background-size: 800px 728px;
    }
}
@media only screen and (min-width: 1300px) {
    .making-workshop {
        background-position: left -150px;
        background-size: 972px 885px;
    }
    .photos__inner-wrapper--right {
        height: 536px;
    }
}

/* ==========================================================================
 Section: Mailing list
 ========================================================================== */

.mailinglist {
    text-align:center;
}

#mailinglist {
    margin: 7em auto;
}

/* ==========================================================================
 Section: Organisers
 ========================================================================== */

#footer-container {
    padding-bottom: 5em;
}

footer {
    display:inline-block;
}

.organiser {
    margin: 3em auto;
    width: 55%;
    text-align:center;
}

@media only screen and (min-width: 700px) {
    
    .organiser {
        float: left;
        display: block;
        position: relative;
        width: 25%;
        margin-right:12.5%;
        text-align:left;
    }


    .organiser:last-child{
        margin-right:0;
    }

}

.organiser_content {}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {

	
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

	nav ul li{
		display:inline;
	}	
	.oldie nav a{
		margin:0 0.7%;		
	}
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

	#header-container,
	#main aside{
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
	}


/* ============
    WIDE: Main
   ============ */

	#main article{
		float:left;
		width:57%;
	}
		
	#main aside{
		float:right;
		width:28%;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

	.wrapper{
/*		width:1026px; /* 1140px - 10% for margins  FIX */
		margin:0 auto;
	}
}

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
